body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
}
.link {
    font-size: 18px;
    
}
a {
    text-decoration: none;
    color: #E5E7EB;
}
.hero {
    background-color: #1F2937;
    padding: 150px 0 150px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.hero-main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 700;
    width: 400px;
}
.hero-secondary {
    color: #E5E7EB;
    font-size: 18px;
    width: 450px;
}
.hero-btn {
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    margin-top: 15px;
}
.hero-img {
    width: 600px;
    height: 235px;
    object-fit: cover;
}
.info-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
}
.info-illustration {
    width: 200px;
    height: 200px;
    border: solid 3px;
    border-color: #3882F6;
    border-radius: 10px;
    margin-top: 25px;
}
.info-section {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.info-text {
    font-size: 18px;
    color: #1F2937;
    width: 200px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 120px;
}
.quote-section {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.quote-text {
    padding-top: 150px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 50%;
}
.quote-author {
    padding-bottom: 150px;
    align-self: self-end;
    width: 30%;
    font-size: 18px;
    font-weight: 700;
    margin-top: 25px;
}
.action-section {
    display: flex;
    justify-content: center;
}

.action-box {
    margin-top: 150px;
    margin-bottom: 150px;
    background-color: #3882F6;
    width: 55rem;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.action-btn {
    background-color: #3882F6;
    color: #F9FAF8;
    border: solid 1px #F9FAF8;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    font-size: 18px;
}
.action-txt-main {
    color: #F9FAF8;
    font-size: 24px;
}
.action-txt-secondary {
    color: #E5E7EB;
    font-size: 18px;    
}
footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 25px 0 25px 0;
    display: flex;
    justify-content: center;
}